.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: #ececec;
}

.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 17px;
  height: 17px;
  background: white;
}

.styled-checkbox:hover + label:before {
  background: #ececec;
}

.styled-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #43A047;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 6px;
  background: white;
  width: 3px;
  height: 3px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.selectbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 10em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, -webkit-gradient(linear, right top, left top, color-stop(3em, rgba(255, 255, 255, 0.3)), color-stop(3em, rgba(255, 255, 255, 0.2)));
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: white;
  cursor: pointer;
  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}

.selectbox option {
  color: #ececec;
  background-color: #43A047;
  line-height: 2px;
}

.selectbox:focus {
  outline: none;
}

.selectbox::-ms-expand {
  display: none;
}

.header {
  position: relative;
  background: #2E7D32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.hero {
  text-align: center;
  padding: 10px;
  display: block;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: heroreveal .3s ease 0s 1 normal none;
          animation: heroreveal .3s ease 0s 1 normal none;
}

.hero img {
  width: 30%;
}

@-webkit-keyframes heroreveal {
  0.0% {
    -webkit-transform: translate(0px, -200px);
            transform: translate(0px, -200px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes heroreveal {
  0.0% {
    -webkit-transform: translate(0px, -200px);
            transform: translate(0px, -200px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.hero-hide {
  display: none;
}

.search {
  width: 80%;
  z-index: 999;
}

.search .search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  height: 9vh;
  border: 2px solid #43A047;
  margin-bottom: 1vh;
  -webkit-animation: searchreveal .3s ease 0s 1 normal none;
          animation: searchreveal .3s ease 0s 1 normal none;
}

@media only screen and (min-width: 700px) {
  .search .search-bar {
    -ms-grid-columns: 9fr 1fr;
        grid-template-columns: 9fr 1fr;
  }
}

@-webkit-keyframes searchreveal {
  0.0% {
    -webkit-transform: translate(0px, -300px);
            transform: translate(0px, -300px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes searchreveal {
  0.0% {
    -webkit-transform: translate(0px, -300px);
            transform: translate(0px, -300px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.search .search-bar input {
  padding: 0px 1rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}

.search .search-bar input::-webkit-input-placeholder {
  color: #43A047;
}

.search .search-bar input:-ms-input-placeholder {
  color: #43A047;
}

.search .search-bar input::-ms-input-placeholder {
  color: #43A047;
}

.search .search-bar input::placeholder {
  color: #43A047;
}

.search .search-bar button {
  padding: 5px;
  background: none;
  cursor: pointer;
}

.search .search-bar-hide {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

:root {
  --bar-bg: #ebebeb;
}

.menu-icon {
  position: relative;
  width: 35px;
  height: 35px;
  padding: 2px;
  margin-right: 2vw;
  cursor: pointer;
  z-index: 999;
}

.menu-icon .menu-icon__cheeckbox {
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}

.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
  top: 0;
}

.menu-icon span:last-of-type {
  bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

.settings-menu {
  display: none;
  width: 80%;
  padding: 10px 0px;
  color: #ececec;
}

.settings-menu .settings {
  margin: 0vh 0;
}

.settings-menu .settings p {
  padding: 3px;
  font-weight: 700;
}

.settings-menu-reveal {
  display: block;
  width: 80%;
  padding: 10px 0px;
  color: #ececec;
}

.settings-menu-reveal .settings {
  margin: 0vh 0;
}

.settings-menu-reveal .settings p {
  padding: 3px;
  font-weight: 700;
}

.contents {
  position: relative;
  padding: 10px;
}

.contents .display {
  padding: 10px 20px;
  margin-bottom: 1.5vh;
  border-bottom: 1px solid #959595;
}

.pos {
  font-style: italic;
  color: #616161;
  margin-bottom: -1vh;
}

.iso {
  letter-spacing: 1px;
  color: #616161;
  margin-top: -1vh;
  margin-left: .5vw;
}

.search-value {
  font-size: 1.4em;
  font-weight: 800;
  color: #2E7D32;
}

.span-1 {
  color: #424242;
}

.span-1 span {
  background: #FF8F00;
  padding: 1px 10px 1px 5px;
  font-weight: 700;
  border-radius: 2px;
  color: #fff;
}

.span-2 {
  color: #424242;
}

.span-2 span {
  background: #FF3D00;
  padding: 1px 10px 1px 5px;
  font-weight: 700;
  border-radius: 2px;
  color: #fff;
}

.span-3 {
  color: #212121;
  font-weight: 600;
}

.span-3 span {
  background: #43A047;
  padding: 1px 10px 1px 5px;
  font-weight: 700;
  border-radius: 2px;
  color: #fff;
}

.exp {
  padding: 2vh 0;
  font-style: italic;
}

.sources {
  font-style: italic;
}

.source-class {
  color: #2E7D32;
}

.source-list {
  color: #2E7D32;
}

.ipa {
  color: #212121;
  font-weight: 600;
}

.ipa span {
  background: #43A047;
  padding: 1px 10px 1px 5px;
  font-weight: 700;
  border-radius: 2px;
  color: #fff;
}

.search-bar-dark {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  height: 9vh;
  border: 2px solid #616161;
  margin-bottom: 1vh;
  -webkit-animation: searchreveal .3s ease 0s 1 normal none;
          animation: searchreveal .3s ease 0s 1 normal none;
}

@media only screen and (min-width: 700px) {
  .search-bar-dark {
    -ms-grid-columns: 9fr 1fr;
        grid-template-columns: 9fr 1fr;
  }
}

@keyframes searchreveal {
  0.0% {
    -webkit-transform: translate(0px, -300px);
            transform: translate(0px, -300px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.search-bar-dark input {
  padding: 0px 1rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}

.search-bar-dark input::-webkit-input-placeholder {
  color: #616161;
}

.search-bar-dark input:-ms-input-placeholder {
  color: #616161;
}

.search-bar-dark input::-ms-input-placeholder {
  color: #616161;
}

.search-bar-dark input::placeholder {
  color: #616161;
}

.search-bar-dark button {
  padding: 5px;
  background: none;
  cursor: pointer;
}

.selectbox-dark {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 10em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, -webkit-gradient(linear, right top, left top, color-stop(3em, rgba(255, 255, 255, 0.3)), color-stop(3em, rgba(255, 255, 255, 0.2)));
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: white;
  cursor: pointer;
}

.selectbox-dark option {
  color: #ececec;
  background-color: #616161;
  line-height: 2px;
}

.selectbox-dark:focus {
  outline: none;
}

.selectbox-dark::-ms-expand {
  display: none;
}

.dark {
  background: #212121;
}

.dark2 {
  background-color: #616161;
  color: #ececec;
}

.intro {
  padding: 10px 20px;
  color: #616161;
  border-radius: 5px;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 80%;
}

.intro h3, .intro h2 {
  color: #2E7D32;
}

.intro a {
  color: #2E7D32;
  font-weight: bold;
  text-decoration: none;
}

.intro ul {
  list-style: circle;
}

.intro ul li {
  margin-bottom: 2vh;
}

@media only screen and (min-width: 700px) {
  .intro {
    padding: 40px 80px;
    width: 50%;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

.add-words {
  padding: 20px 10px;
  text-align: left;
  color: #616161;
}

.add-words a {
  color: #2E7D32;
}

.add-words .form {
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-words .form input {
  border: 2px solid #2E7D32;
  padding: 5px;
  font-size: 1em;
}

.add-words button {
  padding: 5px 10px;
  background: #2E7D32;
  color: #ececec;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}

.add-words button:hover {
  background: #43A047;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Malayalam', sans-serif;
}

main {
  display: block;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #2E7D32;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.219);
}

.footer .footer-contents {
  background: #2E7D32;
  padding: 10px;
  display: block;
  color: #84f68a;
}

.footer .footer-contents .footer-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-contents .footer-class .dev {
  margin-right: 1.1vw;
}

.footer .footer-contents .footer-class a {
  color: #ececec;
  text-decoration: none;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */
